services:
  db:
    image: postgres:16-alpine
    restart: always
    environment:
      POSTGRES_DB: myjourney_db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d myjourney_db"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: always
    environment:
      DATABASE_URL: postgres://user:password@db:5432/myjourney_db
      JWT_SECRET: supersecretjwtkey_dev
      BACKEND_INTERNAL_URL: http://backend:3001
      BACKEND_EXTERNAL_URL: http://backend:3001
    depends_on:
      db:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3001"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 60s
    volumes:
      - ./backend/uploads:/app/uploads

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    environment:
      VITE_API_BASE_URL: /api # 'serve' will proxy this to the backend
    depends_on:
      backend:
        condition: service_healthy
    ports:
      - "8080:8080" # Expose frontend service directly
    restart: always

volumes:
  db_data: